<html>
</br>
</br>
</br>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jqFancyTransitions.js" type="text/javascript"></script>

<div align="center">
<div id='slideshowHolder'>
 <img src='http://anirasolutions.net/images/slide1.jpg'  />
 <img src='http://anirasolutions.net/images/slide2.jpg'  />
 <img src='http://anirasolutions.net/images/slide3.jpg'  />
 <img src='http://anirasolutions.net/images/slide4.jpg'  />
 <img src='http://anirasolutions.net/images/slide5.jpg'  />
</div>
</div>

<script>
$(document).ready( function(){
	$('#slideshowHolder').jqFancyTransitions({ width: 900, height: 300 });
});
</script>
</br>
<h3>About Anira Solutions</he>
<p>Incepted in the year 2003 Anira solutions Inc, is a leading software application development and consulting company serving the ever growing demand for IT project execution and staffing needs of our clients (<%= link_to '+read more', abouts_path %>)</p>
</html>


